*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  body > * {
    overflow: hidden; }

body {
  font-family: 'Lexend Deca', sans-serif; }

.heading-1 {
  font-size: 5.5rem;
  font-family: 'Space Mono', monospace; }

.heading-2 {
  font-size: 5rem;
  font-family: 'Space Mono', monospace; }

.heading-3 {
  font-size: 4rem;
  font-family: 'Space Mono', monospace; }

.heading-4 {
  font-size: 2.5rem;
  font-family: 'Space Mono', monospace; }

.hero {
  position: relative;
  background-image: url(/assets/images/home-hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14rem 20vw;
  color: #fff; }
  .hero > * {
    max-width: 60rem; }
  .hero h1 {
    position: relative;
    right: 10rem;
    line-height: 5.5rem;
    margin-bottom: 5rem; }
  .hero__content {
    max-width: 40rem;
    font-size: 1.5rem;
    margin: 3rem 0 5rem 0;
    line-height: 2.5rem; }
  .hero__pattern--arrow {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: calc(20vw + 45.5rem); }
  .hero::before {
    content: '';
    position: absolute;
    background-image: url(/assets/patterns/line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    width: 17vw; }
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/assets/patterns/white-circles.svg);
    background-repeat: no-repeat;
    background-position: 100% 68%;
    transform: translateX(3rem); }

.steps {
  position: relative;
  padding: 10rem 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .steps::before {
    content: '';
    position: absolute;
    background-color: #e6edf4;
    width: 70%;
    height: 1rem;
    left: 0;
    top: 16rem;
    z-index: -1; }

.attribute--home:nth-of-type(odd)::before {
  content: '';
  position: absolute;
  background-image: url(../assets/patterns/left-downward-arrow.svg);
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }

.attribute--home:nth-of-type(1)::before {
  right: -20rem;
  bottom: -25rem; }

.attribute--home:nth-of-type(3)::before {
  right: -55rem;
  top: -15rem; }

.banner--about::before {
  content: '';
  position: absolute;
  background-image: url(../assets/images/about-hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; }

.attribute--about:nth-of-type(odd)::before {
  content: '';
  position: absolute;
  background-image: url(../assets/patterns/left-upward-arrow.svg);
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
  bottom: -25rem;
  left: 0;
  right: -20rem;
  z-index: 2; }

.banner--careers::before {
  content: '';
  position: absolute;
  background-image: url(../assets/images/careers-locations-hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; }

.attribute--careers::before {
  content: '';
  position: absolute;
  background-image: url(../assets/patterns/left-downward-arrow.svg);
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
  bottom: -20rem;
  left: 0;
  right: -20.5rem;
  z-index: 2; }

.jobs {
  padding: 2rem 8vw 12rem 8vw; }

.job {
  display: flex;
  align-items: center;
  background-color: #e6edf4;
  padding: 2rem 3.5rem; }
  .job:not(:last-child) {
    margin-bottom: 1.5rem; }
  .job__description {
    margin-right: auto;
    color: #4a5668; }
  .job p {
    font-size: 1.5rem; }

.btn-apply {
  width: 18rem; }

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 8vw; }
  .navbar__nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between; }
  .navbar__links {
    display: flex;
    flex-direction: row;
    margin: 0 3rem 0 6rem;
    font-family: 'Mono Space', monospace; }
    .navbar__links button {
      margin-left: auto; }
    .navbar__links li {
      font-size: 1.5rem;
      list-style: none;
      padding: 1.5rem 2.5rem; }
    .navbar__links li a {
      text-decoration: none;
      color: #929baa;
      transition: all .2s; }
    .navbar__links li a:hover {
      color: #fcb72c; }

.footer {
  display: flex;
  align-items: center;
  background-color: #333a44;
  padding: .5rem 12rem; }
  .footer__links {
    display: flex;
    flex-direction: row;
    margin: 0 3rem 0 6rem;
    font-family: 'Mono Space', monospace; }
    .footer__links li {
      font-size: 1.5rem;
      list-style: none;
      padding: 2.5rem; }
    .footer__links li a {
      text-decoration: none;
      color: #929baa;
      transition: all .2s; }
    .footer__links li a:hover {
      color: #fcb72c; }
  .footer__socials {
    display: flex;
    margin-left: auto; }
    .footer__socials li {
      list-style: none;
      padding: 1rem; }
    .footer__socials li a {
      text-decoration: none;
      color: #fcb72c;
      font-size: 2.2rem;
      transition: all .2s; }
    .footer__socials li a:hover {
      color: #fff; }

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10rem 8vw;
  background-color: #4a5668; }
  .cta h2 {
    color: #fff;
    max-width: 50rem;
    line-height: 5rem; }
  .cta__buttons {
    display: flex;
    z-index: 2; }
    .cta__buttons form button {
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer; }
      .cta__buttons form button:active {
        transform: scale(0.95); }
    .cta__buttons form:not(:last-child) {
      margin-right: 2rem; }
  .cta::after {
    content: '';
    position: absolute;
    background-image: url(../assets/patterns/semi-circles.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15rem; }

.banner {
  padding: 3.5rem;
  margin-bottom: 5rem;
  position: relative; }
  .banner h2 {
    padding-left: 10rem;
    color: #fff; }
  .banner::after {
    content: '';
    position: absolute;
    background-image: url(../assets/patterns/white-circles.svg);
    background-position: center right;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: -3rem;
    z-index: 1; }

.attributes {
  margin-top: -5rem;
  padding: 10rem 8vw;
  overflow: hidden; }

.attribute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .attribute > * {
    width: 45%; }
  .attribute:not(:last-child) {
    margin-bottom: 10rem; }
  .attribute__text {
    color: #4a5668; }
  .attribute__content {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2rem 0;
    color: #929baa; }
  .attribute__img img {
    max-width: 100%; }
  .attribute__img .round {
    border-radius: 50%; }
  .attribute::after {
    content: '';
    background-image: url(../assets/patterns/circle.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1; }
  .attribute:nth-of-type(odd)::after {
    top: 0;
    bottom: 0;
    left: 0;
    right: -42.5rem;
    background-position: center right; }
  .attribute:nth-of-type(odd) img {
    display: block;
    margin-left: auto;
    transform: translateX(-5rem); }
  .attribute:nth-of-type(even) {
    flex-direction: row-reverse; }
    .attribute:nth-of-type(even)::after {
      top: 0;
      bottom: 0;
      right: 0;
      left: -42.5rem;
      background-position: center left; }
    .attribute:nth-of-type(even)::before {
      content: '';
      position: absolute;
      background-image: url(../assets/patterns/right-arrow.svg);
      background-position: top left;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: -20.5rem;
      right: 0;
      z-index: 2; }
    .attribute:nth-of-type(even) img {
      transform: translateX(5rem); }

.step {
  font-size: 1.5rem;
  width: 30%;
  padding: 1.5rem; }
  .step__text h4 {
    color: #333a44;
    margin: 1.25rem 0; }
  .step__content {
    color: #929baa;
    line-height: 2.4rem; }

.btn {
  outline: none;
  position: relative;
  padding: 1.5rem 4rem;
  background-color: #fcb72c;
  color: #fff;
  font-family: 'Mono Space', monospace;
  font-size: 1.4rem;
  border: 3px solid #fcb72c;
  cursor: pointer;
  z-index: 2;
  transition: all .2s; }
  .btn:hover {
    background-color: transparent;
    color: #fcb72c;
    border: 3px solid currentColor; }

.values {
  text-align: center;
  padding: 0 10rem;
  justify-content: center; }
  .values h2 {
    color: #4a5668;
    padding: 4rem; }
  .values__container {
    display: flex; }

.value {
  width: 33%;
  padding: 2rem;
  text-align: center; }
  .value__img {
    position: relative;
    display: flex;
    justify-content: center; }
    .value__img img {
      max-width: 100%; }
    .value__img .round {
      border-radius: 50%; }
  .value__number {
    position: absolute;
    padding: 3.5rem 4rem;
    background-color: #fcb72c;
    color: #4a5668;
    font-size: 2.4rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border-radius: 50%;
    bottom: -2.5rem; }
  .value__text {
    margin: 4rem 0; }
  .value__content {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #929baa; }
