// MEDIA QUERY BREAKPOINTS

$bp-largest: 87.5em;      //  1400px
$bp-large: 68.75em;       //  1100px
$bp-medium: 55em;    //  875px
$bp-small: 43.75em;       //  700px
$bp-smallest: 35em;       //  560px