// COLORS

$color-white: #fff;
$color-dark-yellow: hsl(40, 97%, 58%);
$color-light-yellow: hsl(39, 100%, 94%);
$color-light-grey: hsl(212, 41%, 93%);
$color-dim-grey: hsl(217, 12%, 62%);
$color-dark-navy-1: hsl(215, 14.3%, 23.3%);
$color-dark-navy-2: hsl(216, 17%, 35%);