.banner {
    padding: 3.5rem 8vw;
    margin-bottom: 5rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        padding: 3.5rem 5vw;
    }

    h2 {
        color: $color-white;

        @media only screen and (max-width: $bp-smallest) {
            text-align: center;
        }
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url(../assets/patterns/white-circles.svg);
        background-position: center right;
        background-repeat: no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: -3rem;
        z-index: 1;

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }
    }   
}