.footer {
    display: flex;
    align-items: center;
    background-color: $color-dark-navy-1;
    padding: .5rem 12rem;

    @media only screen and (max-width: $bp-small) {
        padding: .5rem 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
        text-align: center;
        padding-top: 5rem;
    }

    &__links {
        display: flex;
        flex-direction: row;
        margin: 0 3rem 0 6rem;
        font-family: 'Mono Space', monospace;

        li {
            font-size: 1.5rem;
            list-style: none;
            padding: 2.5rem;

            @media only screen and (max-width: $bp-smallest) {
                padding: 1.25rem;
            }
        }

        li a {
            text-decoration: none;
            color: $color-dim-grey; 
            transition: all .2s;
        }

        li a:hover {
            color: $color-dark-yellow;
        }

        @media only screen and (max-width: $bp-small) {
            margin-left: 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            flex-direction: column;
            margin-top: 3rem;
        }
    }

    &__socials {
        display: flex;
        margin-left: auto;
        
        li {
            list-style: none;
            padding: 1rem;
        }

        li a {
            text-decoration: none;
            color: $color-dark-yellow;
            font-size: 2.2rem;
            transition: all .2s;

            @media only screen and (max-width: $bp-smallest) {
                font-size: 3rem;
            }
        }

        li a:hover {
            color: $color-white;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 2rem 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin: auto;
            padding: 1rem 0;
        }

    }

}