.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 8vw;

    @media only screen and (max-width: $bp-medium) {
        padding: 1rem 5vw;
    }

    & .logo {
        @media only screen and (max-width: $bp-smallest) {
            margin: auto;
        }
    }

    &__mobile {
        display: none;

        .close { display: none; }

        @media only screen and (max-width: $bp-smallest) {
            display: block;

            &.active {
                .hamburger { display: none; }
                .close { display: block; }
            }

        }
    }

    &__nav {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;

        @media only screen and (max-width: $bp-smallest) {
            position: absolute;
            flex-direction: column;
            background-color: $color-dark-navy-1;
            z-index: 1110;
            top: 6rem;
            left: 0;
            width: 75vw;
            height: calc(100vh - 6rem);
            overflow: hidden;
            padding: 10rem 0;
            justify-content: space-between;
            transition: all .7s;
            transform: translateX(-100vw);

            &.active {
                transform: translateX(0);
            }
        }        
    }

    &__links {
        display: flex;
        flex-direction: row;
        margin: 0 3rem 0 6rem;
        font-family: 'Mono Space', monospace;

        @media only screen and (max-width: $bp-smallest) {
            flex-direction: column;
            margin-left: 0;
        }

        button {
            margin-left: auto;
        }

        li {
            font-size: 1.5rem;
            list-style: none;
            padding: 1.5rem 2.5rem;
            
            @media only screen and (max-width: $bp-smallest) {
                font-size: 2rem;
                text-align: center;
            }
        }

        li a {
            text-decoration: none;
            color: $color-dim-grey; 
            transition: all .2s;
        }

        li a:hover {
            color: $color-dark-yellow;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 0 2rem;
        }
    }
}

.btn {
    &--header {
        @media only screen and (max-width: $bp-small) {
            padding: 1rem 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.75rem;
            padding: 1.5rem 4rem;
        }
    }
}

.overlay {
    @media only screen and (max-width: $bp-smallest) {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, 0.8); 
        z-index: -1;
        opacity: 0;

        &.active {
            opacity: 1;
            z-index: 10;
        }
    }
}