.attributes {
    margin-top: -5rem;
    padding: 10rem 8vw;
    overflow: hidden;
}

.attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    & > * {
        width: 45%;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            text-align: center;
        }
    }

    &:not(:last-child) {
        margin-bottom: 10rem;
    }

    &__text {
        color: $color-dark-navy-2;

        @media only screen and (max-width: $bp-medium) {
            order: 1;
            margin-top: 5rem;
        }        
    }

    &__content {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 2rem 0;
        color: $color-dim-grey; 

        @media only screen and (max-width: $bp-medium) {
            margin: 2rem 10rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 2rem 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin: 2rem;
        }
    }

    &__img {
        img {
            max-width: 100%;
        }
        .round {
            border-radius: 50%;
        }

        @media only screen and (max-width: $bp-medium) {
            order: 0;
        }

    }

    &::after {
        content: '';
        background-image: url(../assets/patterns/circle.svg);
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;

        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }

    &:nth-of-type(odd) {
        
        &::after {
            top: 0;
            bottom: 0;
            left: 0;
            right: -42.5rem;
            background-position: center right;

            @media only screen and (max-width: $bp-medium) {
                background-position: top right;
            }
        }

        img {
            display: block;
            margin-left: auto;
            transform: translateX(-5rem);

            @media only screen and (max-width: $bp-medium) {
                margin: auto;
                transform: none;
            }
        }
    }

    &:nth-of-type(even) {
        flex-direction: row-reverse;
        
        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }

        &::after {
            top: 0;
            bottom: 0;
            right: 0;
            left: -42.5rem;
            background-position: center left;

            @media only screen and (max-width: $bp-medium) {
                background-position: top left;
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url(../assets/patterns/right-arrow.svg);
            background-position: top left;
            background-repeat: no-repeat;
            top: 0;
            bottom: 0;
            left: -20.5rem;
            right: 0;
            z-index: 2;
        }

        img {
            transform: translateX(5rem);

            @media only screen and (max-width: $bp-medium) {
                margin: auto;
                transform: none;
            }
        }
    }

    
}