.btn {
    outline:none;
    position: relative;
    padding: 1.5rem 4rem;
    background-color: $color-dark-yellow;
    color: $color-white;
    font-family: 'Mono Space', monospace;
    font-size: 1.4rem;
    border: 3px solid $color-dark-yellow;
    cursor: pointer;
    z-index: 2;
    transition: all .2s;

    &:hover {
        background-color: transparent;
        color: $color-dark-yellow;
        border: 3px solid currentColor;
    }
}