.values {
    text-align: center;
    padding: 0 8vw;
    justify-content: center;

    @media only screen and (max-width:$bp-large) {
        padding: 0 3vw;
    }

    @media only screen and (max-width:$bp-smallest) {
        padding: 0;
    }

    h2 {
        color: $color-dark-navy-2;
        padding: 4rem;
    }

    &__container {
        display: flex;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }
    }
}

.value {
    width: 33%; 

    padding: 2rem;
    text-align: center;
    
    @media only screen and (max-width: $bp-medium) {
        width: 100%;
        display: flex;
        padding: 2.5rem;
        align-items: center;
        margin-bottom: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
        margin-bottom: 0rem;
        padding: 0;
    }

    &__img {
        position: relative;
        display: flex;
        justify-content: center;

        .round {
            border-radius: 50%;
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 0 0 50%;

            border-right: 1px solid $color-dim-grey;
        }

        @media only screen and (max-width: $bp-smallest) {
            border: none;
        }
    }

    &__number {
        position: absolute;
        padding: 3.5rem 4rem;
        background-color: $color-dark-yellow;
        color: $color-dark-navy-2;
        font-size: 2.4rem;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        border-radius: 50%;
        bottom: -2.5rem;
    }

    &__text {
        margin: 4rem 0;

        @media only screen and (max-width: $bp-medium) {
            flex: 0 0 50%;
            margin: 0 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex: 0 0 50%;
            margin: 0 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin: 4rem;
        }
    }

    &__content {
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $color-dim-grey;

        @media only screen and (max-width: $bp-large) {
            padding: 1.25rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: .5rem;
        }
    }
}