.hero {
    position: relative;
    background-image: url(/assets/images/home-hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14rem 20vw;
    color: $color-white;

    @media only screen and (max-width: $bp-medium) {
        text-align: center;
        padding: 10rem 10vw 14rem 10vw; 
    }

    @media only screen and (max-width: $bp-smallest) {
        background-image: url(/assets/images/home-hero-mobile.jpg);
    }
    
    h1 {
        position: relative;
        right: 10rem;
        line-height: 5.5rem;
        margin-bottom: 5rem;
        width: 60rem;
        
        @media only screen and (max-width: $bp-medium) {
            text-align: center;
            margin: 0 auto;
            right: 0;
            max-width: 100%;
        }
    }

    &__content {
        max-width: 40rem;
        font-size: 1.5rem;
        margin: 3rem 0 5rem 0;
        line-height: 2.5rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 5rem auto;
        }
    }

    &__pattern--arrow {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: calc(20vw + 45.5rem);

        @media only screen and (max-width: $bp-largest) {
            top: 60%;
            left: calc(20vw + 20rem);
        }

        @media only screen and (max-width: $bp-medium) {
            top: 74%;
            left: -15%;
            max-width: 40rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(/assets/patterns/line.svg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.5rem;
        width: 17vw;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

        @media only screen and (max-width: $bp-smallest) {
            display: block;
            background-image: url(/assets/patterns/right-arrow.svg);
            top: 0;
            bottom: 3rem;
            left: 0;
            right: 0;
            background-position: bottom left;
            width: auto;
            height: auto;
            background-size: contain;
            max-width: 35rem;

            transform: translateX(-23.5rem);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url(/assets/patterns/white-circles.svg);
        background-repeat: no-repeat;
        background-position: 100% 68%;
        transform: translateX(3rem);

        @media only screen and (max-width: $bp-largest) {
            background-position: 100% 79%;
        }

        @media only screen and (max-width: $bp-large) {
            display: none;
        }

        @media only screen and (max-width: $bp-medium) {
            display: block;
            background-position: 100% 95%;
            transform: translateX(3.55rem);
        }

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }
    }
}

.steps {
    position: relative;
    padding: 10rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
        padding: 10rem 5rem;
    } 
    
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    } 

    &::before {
        content: '';
        position: absolute;
        background-color: $color-light-grey;
        width: 70%;
        height: 1rem;
        left: 0;
        top: 16rem;
        z-index: -1;

        @media only screen and (max-width: $bp-medium) {
            height: 75%;
            width: 1rem;
            top: 0;
            left: 11.5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }
    }
}

.attribute {
    &--home {
        &:nth-of-type(odd){
            &::before {
                content: '';
                position: absolute;
                background-image: url(../assets/patterns/left-downward-arrow.svg);
                background-position: right;
                background-repeat: no-repeat;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
            }
        }
        

        &:nth-of-type(1) {
            &::before {
                right: -20rem;
                bottom: -25rem;

                @media only screen and (max-width: $bp-medium) {
                    right: -30rem;
                    bottom: -15rem;
                }

                @media only screen and (max-width: $bp-small) {
                    right: -40rem;
                    bottom: -15rem;
                }

                @media only screen and (max-width: $bp-smallest) {
                    right: -45rem;
                    bottom: 0;
                }
            }
        }

        &:nth-of-type(3) {
            &::before {
                right: -55rem;
                top: -15rem;

                @media only screen and (max-width: $bp-medium) {
                    right: -53rem;
                    top: -48rem;
                    left: 0;
                    bottom: 0;
                }

                @media only screen and (max-width: $bp-small) {
                    right: -50rem;
                    top: -57rem;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}