.hero {
    position: relative;
    background-image: url(/assets/images/home-hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14rem 20vw;
    color: $color-white;
    
    & > * {
        max-width: 60rem;
    }

    h1 {
        position: relative;
        right: 10rem;
        line-height: 5.5rem;
        margin-bottom: 5rem;
    }

    &__content {
        max-width: 40rem;
        font-size: 1.5rem;
        margin: 3rem 0 5rem 0;
        line-height: 2.5rem;
    }

    &__pattern--arrow {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: calc(20vw + 45.5rem);
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(/assets/patterns/line.svg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;
        bottom: 0;
        left: 0;
        height: 1.5rem;
        width: 17vw;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url(/assets/patterns/white-circles.svg);
        background-repeat: no-repeat;
        background-position: 100% 68%;
        transform: translateX(3rem);
    }
}

.steps {
    position: relative;
    padding: 10rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::before {
        content: '';
        position: absolute;
        background-color: $color-light-grey;
        width: 70%;
        height: 1rem;
        left: 0;
        top: 16rem;
        z-index: -1;
    }
}

.attributes {
    margin-top: -5rem;
    padding: 10rem 8vw;
    overflow: hidden;
}
