.banner {
    &--locations {
        &::before {
            content: '';
            position: absolute;
            background-image: url(../assets/images/careers-locations-hero-desktop.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0; 
            z-index: -1;
        }
    }
}

.map {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 8rem 8vw;
    margin: auto;
    max-width: calc(100% - 16vw);

    &__img {
        max-width: 100%;
    }
    
    &__location {
        position: absolute;
        display: flex;
        top: 0;
        left: 8vw;
        height: 100%;
        width: calc(100% - 16vw);

        li {
            height: 6rem;
            width: 15rem;
            background-color: $color-dark-yellow;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: $color-dark-navy-2;
            font-weight: 700;
            font-family: 'Space Mono', monospace;

            &::after {
                content: '';
                position: absolute;
                background-color: $color-dark-yellow;
                // background-color: black;
                height: 2rem;
                width: 2rem;
                bottom: 0;
                right: 3.5rem;
                transform: rotateZ(45deg) translateY(1.5rem);
            }
        }

        &--ny { top: 22%; left: 14%; }
        &--london { top: 15%; left: 35%; }
        &--yokohama { top: 24%; right: 10%; }
        &--jakarta { top: 47%; right: 18%; }
    }
}

.location-request {
    padding: 0rem 8vw 5rem 8vw;
    display: grid;
    grid-template-columns: minmax(35rem, 1fr) 3fr 1fr;
    // grid-template-columns: 1fr;
    grid-gap: 4rem;
    align-items: center;
    justify-items: center;
    // justify-content: center;

    &__content {
        font-size: 1.5rem;
        color: $color-dim-grey;
    }
}

.btn--request {
    width: 17rem;
}